<!--<h3>header works!</h3>
<div class="card-container">
    <div class="card card-small">-->
        <!--
        <div>{{ nombre }}</div>
        <button (click)="cambiarNombre()">Cambiar</button>
        -->
        <!--<ul>
            <li *ngFor="let numero of arr">{{ numero }}</li>
        </ul>
        <button (click)="add()">Añadir Elemento</button>
    </div> </div>-->
    <nav>
        <a routerLink="inicio" routerLinkActive = "activo">Inicio</a>
        <br>
        <a routerLink="profile" routerLinkActive = "activo">Perfil</a>
        <br>
        <a routerLink="dashboard" routerLinkActive = "activo">Panel Control</a>
    </nav>

