<div class="card-container">
    <div class="card card-small">
        <h3>user works!</h3>

        <ng-container *ngIf="!isLogged; else logueado">
            <button (click)="isLogged = true">Iniciar Sesion</button>

            <button>Registrarse</button>
            <button (click)="nivel = nivel+1">Suma Nivel</button>
            <div>{{ nivel }}</div>
        </ng-container>
        <ng-template #logueado>
            <button>Ir A Administracion</button>
            <button>Ir A Perfil</button>
            <button (click)="isLogged = false">Cerrar Sesion</button>
        </ng-template>
        <button *ngIf="nivel >= 10">Habitacion VIP</button>
    </div>
</div>
