
    <h1>Pruebas</h1>
    <hr>
    <div class="row">
        <div class="col-sm-6" style="background-color:lavender;">
            <h1>Tu Apellido Es: <b class="text-success">{{ seleccion }}</b></h1>
            <div class="form-group">
                <select class="form-control" [(ngModel)]="seleccion">
                    <option value="Pekerman">Pekerman</option>
                    <option value="Queiroz">Queiroz</option>
                    <option value="Maturana">Maturana</option>
                </select>
            </div>
        </div>
        <div class="col-sm-6" style="background-color:rgba(218, 233, 166, 0.87);">
            <button class="btn btn-info" [type]="tipo" [disabled]="desactivado">Titulo</button><br>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="titulo" (ngModelChange)="log($event)">
            </div>
            <button class="btn btn-warning" (click)="desactivado=!desactivado">Cambiar desactivado</button>
        </div>
    </div>

